---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="/michael"><img src="images/michael.png"/><br/>Michael Rumpf</a></li>
								<li><a href="/schwaben"><img src="images/schwaben.png"/><br/>Schwabenrumpf</a></li>
							</ul>
						</div>
						<!-- <a href="#one" class="more scrolly">Learn More</a> -->
					</section>
					<section id="impressum" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Rechtliches</h2>
							</header>
						</div>
					</section>
					<section id="dsgvo" class="wrapper alt style2">
						<section class="spotlight">
							<div class="content">
   								<a name="impressum">
								<h2>Impressum</h2></a>

<p>Verantwortlich für den Inhalt dieser Webseite:</p>

<p>Michael Rumpf<br />
Fasanenweg 12/1<br />
71032 Böblingen<br />
Deutschland</p>


<h3>Haftungsausschluss</h3>

<ol>
<li>Inhalt des Onlineangebotes
<p>Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder 
Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich 
auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung 
der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger 
Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des 
Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich 
vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, 
zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
</li>

<li>Verweise und Links
<p>Bei direkten oder indirekten Verweisen auf fremde Webseiten (Hyperlinks), die außerhalb 
des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung 
ausschließlich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat 
und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte 
zu verhindern. Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung 
keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle 
und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten/verknüpften 
Seiten hat der Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdrücklich 
von allen Inhalten aller verlinkten /verknüpften Seiten, die nach der Linksetzung verändert 
wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten 
Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, 
Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen anderen Formen von 
Datenbanken, auf deren Inhalt externe Schreibzugriffe möglich sind. Für illegale, 
fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der 
Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein
der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die 
jeweilige Veröffentlichung lediglich verweist.</p>
</li>

<li>Urheber- und Kennzeichenrecht
<p>Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten 
Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte 
Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, 
Tondokumente, Videosequenzen und Texte zurückzugreifen. Alle innerhalb des Internetangebotes 
genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen 
uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten 
der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der 
Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind! Das Copyright 
für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. 
Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte 
in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des 
Autors nicht gestattet.</p>
</li>

<li>Datenschutz
<p>Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder 
geschäftlicher Daten (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe 
dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und 
Bezahlung aller angebotenen Dienste ist - soweit technisch möglich und zumutbar - auch ohne 
Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet. 
Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben veröffentlichten 
Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie Emailadressen durch Dritte zur 
Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht gestattet. Rechtliche 
Schritte gegen die Versender von sogenannten Spam-Mails bei Verstössen gegen dieses Verbot 
sind ausdrücklich vorbehalten.</p>
</li>

<li>Rechtswirksamkeit dieses Haftungsausschlusses
<p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf 
diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der 
geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die 
übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.</p>
</li>
</ol>


<h3>Disclaimer</h3>

<ol>
<li>Content
<p>The author reserves the right not to be responsible for the topicality, correctness, 
completeness or quality of the information provided. Liability claims regarding damage caused 
by the use of any information provided, including any kind of information which is incomplete 
or incorrect,will therefore be rejected. All offers are not-binding and without obligation. 
Parts of the pages or the complete publication including all offers and information might be 
extended, changed or partly or completely deleted by the author without separate 
announcement.</p>
</li>

<li>Referrals and links
<p>The author is not responsible for any contents linked or referred to from his pages - 
unless he has full knowledge of illegal contents and would be able to prevent the visitors of 
his site fromviewing those pages. If any damage occurs by the use of information presented 
there, only the author of the respective pages might be liable, not the one who has linked to 
these pages. Furthermore the author is not liable for any postings or messages published by 
users of discussion boards, guestbooks or mailinglists provided on his page.</p>
</li>

<li>Copyright
<p>The author intended not to use any copyrighted material for the publication or, if not 
possible, to indicatethe copyright of the respective object. The copyright for any material 
created by the author is reserved. Any duplication or use of objects such as diagrams, sounds 
or texts in other electronic or printed publications is not permitted without the author's 
agreement.</p>
</li>

<li>Privacy policy
<p>If the opportunity for the input of personal or business data (email addresses, name, 
addresses) is given, the input of these data takes place voluntarily. The use and payment of 
all offered services are permitted - if and so far technically possible and reasonable - 
without specification of any personal data or under specification of anonymized data or an 
alias. The use of published postal addresses, telephone or fax numbers and email addresses 
for marketing purposes is prohibited, offenders sending unwanted spam messages will be 
punished.</p>
</li>

<li>Legal validity of this disclaimer
<p>This disclaimer is to be regarded as part of the internet publication which you were 
referred from. If sections or individual terms of this statement are not legal or correct, 
the content or validity of the other parts remain uninfluenced by this fact. </p>
</li>
</ol>
							</div>
						</section>
						<section class="spotlight">
							<div class="content">
   								<a name="dsgvo">
								<h2>Datenschutzerklärung</h2></a>

<p>Personenbezogene Daten (nachfolgend zumeist nur „Daten“ genannt) werden von uns nur im 
Rahmen der Erforderlichkeit sowie zum Zwecke der Bereitstellung eines funktionsfähigen und 
nutzerfreundlichen Internetauftritts, inklusive seiner Inhalte und der dort angebotenen 
Leistungen, verarbeitet.</p>

<p>Gemäß Art. 4 Ziffer 1. der Verordnung (EU) 2016/679, also der Datenschutz-Grundverordnung 
(nachfolgend nur „DSGVO“ genannt), gilt als „Verarbeitung“ jeder mit oder ohne Hilfe 
automatisierter Verfahren ausgeführter Vorgang oder jede solche Vorgangsreihe im Zusammenhang 
mit personenbezogenen Daten, wie das Erheben, das Erfassen, die Organisation, das Ordnen, die 
Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die 
Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den 
Abgleich oder die Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung.</p>

<p>Mit der nachfolgenden Datenschutzerklärung informieren wir Sie insbesondere über Art, 
Umfang, Zweck, Dauer und Rechtsgrundlage der Verarbeitung personenbezogener Daten, soweit 
wir entweder allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung 
entscheiden. Zudem informieren wir Sie nachfolgend über die von uns zu Optimierungszwecken 
sowie zur Steigerung der Nutzungsqualität eingesetzten Fremdkomponenten, soweit hierdurch 
Dritte Daten in wiederum eigener Verantwortung verarbeiten.</p>

<p>Unsere Datenschutzerklärung ist wie folgt gegliedert:</p>

<p>I. Informationen über uns als Verantwortliche<br>
II. Rechte der Nutzer und Betroffenen<br>
III. Informationen zur Datenverarbeitung</p>

<h3>I. Informationen über uns als Verantwortliche</h3>

<p>Verantwortlicher Anbieter dieses Internetauftritts im datenschutzrechtlichen Sinne ist:</p>

<p>Michael Rumpf<br>Fasanenweg 12/1<br>71032 Böblingen<br>Deutschland</p>
<p>Telefon: +49 (0) 176 56 12 54 53<br>E-Mail: michael _at_ rumpfonline.de</p>

<h3>II. Rechte der Nutzer und Betroffenen</h3>

<p>Mit Blick auf die nachfolgend noch näher beschriebene Datenverarbeitung haben die 
Nutzer und Betroffenen das Recht</p>

<ul>
<li>auf Bestätigung, ob sie betreffende Daten verarbeitet werden, auf Auskunft über die 
verarbeiteten Daten, auf weitere Informationen über die Datenverarbeitung sowie auf 
Kopien der Daten (vgl. auch Art. 15 DSGVO);</li>
<li>auf Berichtigung oder Vervollständigung unrichtiger bzw. unvollständiger Daten 
(vgl. auch Art. 16 DSGVO);</li>
<li>auf unverzügliche Löschung der sie betreffenden Daten (vgl. auch Art. 17 DSGVO), 
oder, alternativ, soweit eine weitere Verarbeitung gemäß Art. 17 Abs. 3 DSGVO 
erforderlich ist, auf Einschränkung der Verarbeitung nach Maßgabe von Art. 18 DSGVO;</li>
<li>auf Erhalt der sie betreffenden und von ihnen bereitgestellten Daten und auf 
Übermittlung dieser Daten an andere Anbieter/Verantwortliche (vgl. auch Art. 20 DSGVO);</li>
<li>auf Beschwerde gegenüber der Aufsichtsbehörde, sofern sie der Ansicht sind, dass die 
sie betreffenden Daten durch den Anbieter unter Verstoß gegen datenschutzrechtliche 
Bestimmungen verarbeitet werden (vgl. auch Art. 77 DSGVO).</li>
</ul>

<p>Darüber hinaus ist der Anbieter dazu verpflichtet, alle Empfänger, denen gegenüber 
Daten durch den Anbieter offengelegt worden sind, über jedwede Berichtigung oder 
Löschung von Daten oder die Einschränkung der Verarbeitung, die aufgrund der 
Artikel 16, 17 Abs. 1, 18 DSGVO erfolgt, zu unterrichten. Diese Verpflichtung besteht 
jedoch nicht, soweit diese Mitteilung unmöglich oder mit einem unverhältnismäßigen 
Aufwand verbunden ist. Unbeschadet dessen hat der Nutzer ein Recht auf Auskunft über 
diese Empfänger.</p>

<p>Ebenfalls haben die Nutzer und Betroffenen nach Art. 21 DSGVO das Recht auf 
Widerspruch gegen die künftige Verarbeitung der sie betreffenden Daten, sofern die 
Daten durch den Anbieter nach Maßgabe von Art. 6 Abs. 1 lit. f) DSGVO verarbeitet 
werden. Insbesondere ist ein Widerspruch gegen die Datenverarbeitung zum Zwecke 
der Direktwerbung statthaft.</p>

<h3>III. Informationen zur Datenverarbeitung</h3>

<p>Ihre bei Nutzung unseres Internetauftritts verarbeiteten Daten werden gelöscht oder 
gesperrt, sobald der Zweck der Speicherung entfällt, der Löschung der Daten keine 
gesetzlichen Aufbewahrungspflichten entgegenstehen und nachfolgend keine 
anderslautenden Angaben zu einzelnen Verarbeitungsverfahren gemacht werden.</p>

<h4>Serverdaten</h4>
<p>Aus technischen Gründen, insbesondere zur Gewährleistung eines sicheren und 
stabilen Internetauftritts, werden Daten durch Ihren Internet-Browser an uns bzw. 
an unseren Webspace-Provider übermittelt. Mit diesen sog. Server-Logfiles werden 
u.a. Typ und Version Ihres Internetbrowsers, das Betriebssystem, die Website, von 
der aus Sie auf unseren Internetauftritt gewechselt haben (Referrer URL), die 
Website(s) unseres Internetauftritts, die Sie besuchen, Datum und Uhrzeit des 
jeweiligen Zugriffs sowie die IP-Adresse des Internetanschlusses, von dem aus die 
Nutzung unseres Internetauftritts erfolgt, erhoben.</p>

<p>Diese so erhobenen Daten werden vorrübergehend gespeichert, dies jedoch nicht 
gemeinsam mit anderen Daten von Ihnen.</p>

<p>Diese Speicherung erfolgt auf der Rechtsgrundlage von Art. 6 Abs. 1 lit. f) 
DSGVO. Unser berechtigtes Interesse liegt in der Verbesserung, Stabilität, 
Funktionalität und Sicherheit unseres Internetauftritts.</p>

<p>Die Daten werden spätestens nach sieben Tage wieder gelöscht, soweit keine 
weitere Aufbewahrung zu Beweiszwecken erforderlich ist. Andernfalls sind die 
Daten bis zur endgültigen Klärung eines Vorfalls ganz oder teilweise von der 
Löschung ausgenommen.</p>
							</div>
						</section>
					</section>
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<!-- header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header -->
							<ul class="actions vertical">
								<li><a href="mailto:michael _at_ rumpfonline.de" class="button fit special">Kontakt</a></li>
							</ul>
						</div>
					</section>
	
